<form
  {{on "submit" this.onSubmit}}
>
  <div>
    <label>
      Name
      <input
        type="text"
        {{on "change" (fn this.setUserField "name")}}
      />
    </label>

    <ErrorMessage @messages={{this.user.validations.fieldErrors.name}} />
  </div>

  <div>
    <label>
      Age
      <input
        type="number"
        {{on "change" (fn this.setUserField "age")}}
      />
    </label>

    <ErrorMessage @messages={{this.user.validations.fieldErrors.age}} />
  </div>
  
  <div>
    <label>
      Is Allergic
      <input type="checkbox" {{on "change" (fn this.setIsAllergic "isAllergic")}} />
    </label>

    <ErrorMessage @messages={{this.user.validations.fieldErrors.isAllergic}} />
  </div>

  <div>
    {{#each this.user.pets as |pet index|}}
      <div>
        <label>
          Pet {{index}}
          <input type="text" {{on "change" (fn this.setPetField pet "name")}} /> 
        </label>

        <span>
          <button
            type="button"
            {{on "click" (fn this.removePet pet)}}
          >
            X
          </button>
        </span>
        <ErrorMessage
          @messages={{yup-get
            this.user.validations.fieldErrors
            (concat "pets" "[" index "]" ".name")
          }}
        />
      </div>
    {{/each}}

    <button
      type="button"
      {{on "click" this.addPet}}
    >
      Add pet
    </button>
  </div>

  <button type="submit">
    Submit
  </button>
</form>
